{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="bounds circle--page">
  <div class="grid-80 grid-push-5 circle--article--header">
    <h2>  SOCIAL TEAM BUILDER  -  The app that connects Developers and IT Projects</h2>
    <p>   By Aaron Millan-Oropeza</p>
  </div>
  <div  class="grid-100 circle--fluid--cell circle--fluid--primary">
    <h2>All projects</h2>
  </div>
  <div class="grid-40">
    <p></p>
  </div>
  <div  class="grid-100 circle--fluid--cell circle--fluid--primary">
    <p></p>
  </div>
<!-- Display available positions -->
  <div class="grid-30">
    <h3>All positions</h3>
    <ol>
      {% for position in positions %}
      <li> {{ position.name }} </li>
      {% endfor %}
    </ol>
  </div>
  <!-- Table with projects and positions -->
  <div class="grid-60 grid-push-5">
    <table class="circle--table u-full-width">
      <thead>
        <tr>
          <th>Project Title</th>
          <th class="circle--cell--right align-right">Project Needs</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr>
          <td class="clickable-row">
            <a href="{% url 'teams:project_details' pk=project.id %}">
            <h3>{{ project.title }}</h3>
            </a>
          </td>
          <td class="circle--cell--right align-right">
            {% for position in positions %}
              <ul>
              {% if position.project_id == project.id %}
                <li><span class="secondary-label">{{ position.name }}</span></li>
              </ul>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
