{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Social Team Builder</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'css/global.css' %}">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link type="text/javascript" src="{% static 'js/global.js' %>">
  <link type="text/javascript" src="{% static 'js/autogrow.js' %}">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
</head>

<body>

  <header class="circle--header">
    <div class="bounds">
      <div class="circle--fluid">
        <div class="circle--fluid--cell">
          <h1 class="hide-text circle--logo"><a class="logo" href="{% url 'index' %}"> </a>
          </h1>
        </div>
        <div class="circle--fluid--cell circle--fluid--primary">
          <div class="circle--search">
            <input type="text" placeholder="Search Projects..." />
            <button>
              <svg version="1.1" class="search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 12 12" xml:space="preserve">
                <path d="M12,10.6L8.3,6.9C8.7,6.2,9,5.4,9,4.5C9,2,7,0,4.5,0S0,2,0,4.5S2,9,4.5,9c0.9,0,1.7-0.3,2.4-0.7l3.7,3.7L12,10.6z M2,4.5
                C2,3.1,3.1,2,4.5,2S7,3.1,7,4.5C7,5.9,5.9,7,4.5,7S2,5.9,2,4.5z"/>
              </svg>
            </button>
          </div>
        </div>
        <div class="circle--fluid--cell circle--fluid--secondary">
          <nav>
            <ul class="circle--inline">
              {% if not user.is_authenticated %}
                <li><h1><a href="{% url 'teams:sign_up' %}">Sign Up</a></h1></li>
                <li><h1><a href="{% url 'teams:sign_in' %}">Sign In</a></h1></li>
              {% else %}
                <li><h1><a href="{% url 'teams:sign_out' %}">Sign Out</a></h1></li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

  {% if user.is_authenticated %}
    <div class="circle--actions--bar">
      <nav class="bounds">
        <ul class="circle--pill--list">
          <li><a class="selected" href="{% url 'teams:profile' %}">Profile</a></li>
          <li><a class="selected" href="{% url 'teams:projects' %}">Projects</a></li>
          <li><a class="selected" href="{% url 'teams:applications' %}">Applications</a></li>
          <li><a class="selected" href="{% url 'teams:applications' %}">Notifications</a></li>
        </ul>
      </nav>
    </div>
  {% endif %}

  {% if messages %}
  <div>
    <ul class="messages centered grid-50">
      {% for message in messages %}
        <h2 class="positive">{{ message }}</h2>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% block content %} {% endblock %}

</body>
</html>
