{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="bounds circle--page">

  <div  class="circle--fluid--cell circle--fluid--primary">
    <h2>Applications</h2>
  </div>

  <!-- Table with projects and positions -->
  <div class="grid-75 grid-push-5">
    <table class="circle--table u-full-width">
      <thead>
        <tr>
          <th>Candidate</th>
          <th class="circle--cell--right align-center">Project</th>
          <th class="circle--cell--right align-right">Status</th>
        </tr>
      </thead>
    <tbody>
      <tr class="clickable-row" data-href="project.html">
        <td><h3>Invoice Delivery Tool</h3></td>
        <td class="circle--cell--right align-center">
          <span class="secondary-label">Rails Developer</span>
        </td>
        <td class="circle--cell--right align-right">Check status<td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
{% endblock %}
