{% extends 'layout.html' %}

{% block content %}
<div class="bounds circle--page circle--article">

  <form method="POST" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <div class="grid-60">
      <h1>User data</h1>
      <div class="circle--article--body">
        {{ profile_form.as_p }}
      </div>
    </div>

    <div class="grid-25 grid-push-5">
      <div>
        <h4>SELECT DEV SKILLS</h4>
        <h6>{{ skills_form }}</h6>
      </div>
    </div>

  <input type="submit" class="button-primary" value="SAVE CHANGES">
  </form>

</div>
{% endblock %}
