{% extends 'layout.html' %}

{% block content %}
<div class="bounds circle--page circle--article">
  <div class="grid-70 centered">
        <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <div class="grid-70">
              <h1>User data</h1>
                <div class="circle--article--body">
                  {{ profile_form.as_p }}
                </div>
              <input type="submit" class="button-primary" value="Save">
            <!-- <button class="button-primary">Save</button> -->
            </div>
        </form>
  </div>
</div>
{% endblock %}
