{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="bounds circle--page">
  <div class="grid-70">
    <h2>{{ profile.fullname }}</h2>
    {% if user.is_authenticated %}
     {% if user.profile == profile %}
      <!-- Edit button -->
      <div class="circle--page--header circle--fluid">
        <div class="circle--fluid--cell circle--fluid--secondary">
          <a class="button icon-on-left" href="{% url 'teams:profile_edit' %}">EDIT PROFILE</a>
        </div>
      </div>
      {% endif %}
    {% endif %}
    <!-- User information -->
    <div class="circle--article--body">
      <p>{{ profile.bio }}</p>
    </div>
  </div>

  <div class="grid-25 grid-push-5">
    <div class="circle--secondary--module">
      {% if profile.avatar != '' %}
        <img  src="{{ profile.avatar.url }}" width="200" height="230">
      {% else %}
        <p>Upload profile pic</p>
      {% endif %}
    </div>

    <div class="circle--secondary--module">
      <h2>My Skills</h2>
        <ul class="unloaded">
            {% for skill in profile.skills.all|dictsort:"skill_name" %}
            <li><h4>* {{ skill }}</h4></li>
            {% endfor %}
        </ul>
    </div>
  </div>
  <!-- Past Projects -->
  <div class="grid-70">
    <h2>Past Projects</h2>
    <table class="circle--table u-full-width">
      <thead>
        <tr>
          <th>Project Title</th>
          <th class="circle--cell--right align-right">Project Needs</th>
        </tr>
      </thead>
      <tbody>
        {% for project in old_projects %}
        <tr>
          <td class="clickable-row">
            <a href="{% url 'teams:project_details' pk=project.id %}">
            <h3>{{ project.title }}</h3>
            </a>
          </td>
          <td class="circle--cell--right align-right">
            {% for position in positions %}
              <ul>
              {% if position.project_id == project.id %}
                <li><span class="secondary-label">{{ position.name }}</span></li>
              </ul>
              {% endif %}
            {% endfor %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Current projects -->
  <div class="grid-25 grid-push-5">
    <div class="circle--secondary--module">
      <h4>Current Projects</h4>
        <ul class="circle--link--list">
          {% for proj in current_projects %}
          <li><b>
            <a href="{% url 'teams:project_details' pk=proj.id %}">
            {{ proj.title }}
            </a></b>
          </li>
          {% endfor %}
        </ul>
    </div>
  </div>
</div>
{% endblock %}
