{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="bounds circle--page">
  {% if user.is_authenticated %}
    {% if user.profile == project.creator %}
      <div class="grid-100">
        <a class="button button-primary" href="{% url 'teams:project_delete' pk=project.id %}">Delete Project</a>
        {% if not project.finished %}
        <a class="button icon-on-left" href="{% url 'teams:project_finish' pk=project.id %}">Finish Project</a>
        {% endif %}
      </div>
    {% endif %}
  {% endif %}
  <div class="grid-70">
    <div class="circle--article-byline">
      <br>
      <h4 class="circle--article--section">Project</h4>
      <h1 class="circle--article--title">{{ project.title }}</h1>
      <p class="circle--article--byline">Project Owner: <a href="{% url 'teams:creator_profile' pk=project.creator.pk %}">{{ project.creator }}</a></p>
      <br><br>
      <p class="circle--article--body">{{ project.description }}</p>
    </div>
  </div>
  <div class="grid-25 grid-push-5">
    <div class="circle--secondary--module">
      <h3>Project needs</h3>
      <ul>
        {% for position in positions%}
          <li><a>{{ position.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="circle--secondary--module">
      <h3>Project Timeline</h3>
      <p>{{ project.timeline }}</p>
    </div>
    <div class="circle--secondary--module">
      <h3>Applicant Requirements</h3>
      <p>{{ project.requirements }}</p>
    </div>
  </div>

  <div class="grid-100 circle--project--positions">
    <h2>Positions</h2>
    <ul class="circle--group--list">
      {% for position in positions%}
      <li>
        <h3>{{ position.name }}</h3>
        <p>{{ position.description }}</p>
        {% if position.available != 0 %}
          {% if user.is_authenticated %}
            <form method="POST" action="">
            {% csrf_token %}
            {% if user.profile != project.creator %}
            <!-- Creator cannot apply for a position that was created by her/himself -->
              <input type='hidden' value='{{ position.id }}' name='position_id'>
              <input type="submit" class="button button-primary" value="Apply">
            {% endif %}
            </form>
          {% else %}
            <a href="{% url 'teams:sign_in' %}">Log in to apply</a>
          {% endif %}
        {% else %}
          <a class="button button-primary button-inactive">Position Filled</a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
